.btn {
  height: 3rem;
  background-color: transparent;
  border: calc(1px * var(--border-width)) solid rgb(var(--primary-color));
  padding: calc(0.25rem * var(--base-space));

  display: flex;
  justify-content: center;
  align-items: center;
}
