.header {
  width: 60%;
  height: 80%;
}

.header-logo {
  width: 8rem;
  height: 8rem;
}

.header-content {
  position: relative;
  flex: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-top: 8vh;
  width: 50%;
  height: 200px;
  animation: grow 1s 0.5s forwards ease-out;
}

.header-content::before {
  content: "";
  position: absolute;
  height: 8vh;
  width: 1px;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: rgb(var(--primary-color));
}

.header-navigation {
  position: relative;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-top: 8vh;
  width: 100%;
}

.header-navigation::before {
  content: "";
  position: absolute;
  height: 8vh;
  width: 1px;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: rgb(var(--primary-color));
}
